// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

main {
    h1 {
        text-align: center;
        margin: 0;
    }
    p {
        text-align: center;
    }
    figure {
        text-align: center;
        img {
            @include addBorder;
        }
    }
    #img-caption{
        text-align: center;
    }
}

section {
    h3 {
        text-align: center;
    }
    ul {
        list-style-type: square;
        li {
            margin-top: 10px;
        }
    }
}

